*, *:before, *:afer {
  box-sizing: border-box;
}

.restaurant-list {
  width: 80%;
  }

.content {
  width: 80%;
  display: inline-block;
}

.arrow {
  width: 10%;
  display: inline-block;
  float: right;
  }

.location {
    background-color: #aaa;
    width: auto;
    border-bottom: .5px solid black;
  }

.location:hover { color: #blue; }

.content h1 {
  font-size: 22px;
  color: #000;
  font-weight: bold;
}

.content h3 {
  font-size: 14px;
  color: #000;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: black;
}

.restaurant-list {
  padding-top: 40px;
}
